{% extends '@UXSteroids/turbo_stream.twig' %}
{% form_theme form with [_self] only %}

{%- block choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice.attr %}{% with { attr: choice.attr } %}{{ block('attributes') }}{% endwith %}{% endif %}{% if not render_preferred_choices|default(false) and choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options -%}

{% block form_widget %}
    {% set options = choices %}
    {{ block('choice_widget_options') }}
{% endblock %}

{% block action %}update{% endblock %}

{% block target %}{{ widget }}{% endblock %}

{% block template %}
    {{ form_widget(form) }}
{% endblock %}
